# Example env file where you can store your secrets
# Copy this file to "env" (or .env if you prefer):
#
#   $ cp env.example env
#
# Edit the contents below and add your information
#
# When you are ready to run terraform, source this file
# and it will populate and export your variables:
#
#   $ . env

#
# Get this from the Digital Ocean UI
# https://www.digitalocean.com/community/tutorials/how-to-use-the-digitalocean-api-v2#HowToGenerateaPersonalAccessToken
#
export DO_PAT="<DigitalOceanPersonalAccessToken>"

#
# To get your fingerprint, you can use:
#   $ ssh-keygen -E md5 -lf ~/.ssh/id_rsa.pub | awk '{print $2}'
#
export DO_SSH_FINGERPRINT="e7:42:16:d7:e5:a0:43:29:82:7d:a0:59:cf:9e:92:f7"

#
# Enable logging to standard out
#
export TF_LOG=1
